{% extends "base_generic.html" %}

{% block content %}
<br>
<div style="border: 2px solid black; background-color: white; padding: 3px; width:95%;">
{% if y %}
    <form action="{% url 'recs' %}">
      <button type="submit">Убрать фильтр</button>
    </form>
{% else %}
<form name="feedback" method="get" action="{% url 'recs' %}">

 <input size = "28" type="text" name="rn" placeholder="Номер заявки (можно частично)">


  <select name="rs">
    <option value="">Выберите статус заявки из списка</option>
  {% for i in status_all %}
    <option value={{ i.id }}>{{ i.name }}</option>
  {% endfor %}
  </select>

  <select name="r">
    <option value="">Выберите торговую сеть из списка</option>
  {% for i in retail_all %}
    <option value={{ i.id }}>{{ i.name }}</option>
  {% endfor %}
  </select>

<input size = "28" type="text" name="s" placeholder="Торговая точка (можно частично)">


 {% if not y %}
    <input type="submit" name="submit_btn" value="Поиск">
      {% endif %}
{% endif %}

</form>
</div>
<br>

  {% if rec_list %}
{{ user.get_username }}
    {% for d in ddd %}
<table border="2" width="95%">
        <h4><strong>{{ d }}  </strong></h4>

       <tr>
           <td width="12%" align="center" > <strong> &nbsp;Номер заявки&nbsp; </strong> </td>
           <td width="22%" align="center" > <strong> &nbsp;Статус заявки&nbsp; </strong> </td>
           <td width="12%" align="center" > <strong> &nbsp;Торговая сеть&nbsp; </strong> </td>
           <td width="37%" align="center" > <strong> &nbsp;Торговая точка&nbsp; </strong> </td>
           <td width="17%" align="center" > <strong> &nbsp;Сервисный инженер&nbsp; </strong> </td>
       </tr>
      {% for rec in rec_list %}

            {% if rec.rec_date == d %}

          <tr>
              <td align="center" > <a href="{{ rec.get_absolute_url }}">&nbsp;{{ rec.rec_num }}&nbsp;</a> </td>

                {% if rec.status == gray %}
                <td bgcolor=#A9A9A9 align="center" > &nbsp;{{ rec.status }}&nbsp;</td>
                {% elif rec.status == blue %}
                <td bgcolor=#00BFFF align="center" > &nbsp;{{ rec.status }}&nbsp;</td>
                {% elif rec.status == red %}
                <td bgcolor=#FF7F50 align="center" > &nbsp;{{ rec.status }}&nbsp;</td>
                {% elif rec.status == yellow %}
                <td bgcolor=#FFD700 align="center" > &nbsp;{{ rec.status }}&nbsp;</td>
                {% elif rec.status == green %}
                <td bgcolor=#32CD32 align="center" > &nbsp;{{ rec.status }}&nbsp;</td>
                {% endif %}
              <td > &nbsp;{{ rec.retail}}&nbsp; </td>
              <td > &nbsp;{{ rec.store}}&nbsp; </td>
              {% if rec.tech %}
              <td  align="center" > &nbsp;{{ rec.tech }}&nbsp;</td>
              {% else %}
              <td align="center" > &nbsp;Еще не выбран&nbsp;</td>
              {% endif %}
          </tr>
            {% endif %}
      {% endfor %}
    </table>

    {% endfor %}

  {% else %}
    <br><p>А заявок то нетути</p>
  {% endif %}
<br><br>
{% endblock %}