{% extends "base_generic.html" %}

{% block content %}
    <h2>Список заявок</h2>


    {% if rec_list %}

    <table border="2">
       <tr>
           <td align="center" > <strong> &nbsp; Номер заявки &nbsp; </strong> </td>
           <td align="center" > <strong> &nbsp; Торговая точка &nbsp; </strong> </td>
           <td align="center" > <strong> &nbsp; Статус заявки &nbsp; </strong> </td>
           <td align="center" > <strong> &nbsp; Тип неисправности &nbsp; </strong> </td>
           <td align="center" > <strong> &nbsp; Сервисный инженер &nbsp; </strong> </td>

       </tr>

      {% for rec in rec_list %}
        {% if forloop.first %}
        <h4>{{ rec.rec_date }}</h4>
        {% endif %}


          <tr>
              <td align="center" > <a href="{{ rec.get_absolute_url }}">{{ rec.rec_num}} </a> </td>
              <td> &nbsp; {{ rec.store}} &nbsp; </td>
              <td align="center" > &nbsp; {{ rec.status}} &nbsp; </td>
              <td align="center" > &nbsp; {{ rec.trouble}} &nbsp; </td>
              <td align="center" > &nbsp; {{ rec.tech}} &nbsp; </td>
          </tr>
      {% endfor %}
    </table>

    {% else %}
      <p>Заявок пока нетути</p>
    {% endif %}
{% endblock %}