{% extends "base_generic.html" %}

{% block content %}

  <h4><strong>Детальная информация о заявке:</strong></h4>


                {% if rec.status == gray %}
     <div style="border: 1px solid black; background-color: #A9A9A9; padding: 3px; width:88%;">
                <p> <strong>Статус заявки:</strong>&nbsp;{{ rec.status }}&nbsp;</p></div>
                {% elif rec.status == blue %}
     <div style="border: 1px solid black; background-color: #00BFFF; padding: 3px; width:88%;">
                <p> <strong>Статус заявки:</strong>&nbsp;{{ rec.status }}&nbsp;</p></div>
                 {% elif rec.status == yellow %}
     <div style="border: 1px solid black; background-color: #FFD700; padding: 3px; width:88%;">
                <p> <strong>Статус заявки:</strong>&nbsp;{{ rec.status }}&nbsp;</p></div>
                {% elif rec.status == green %}
     <div style="border: 1px solid black; background-color: #32CD32; padding: 3px; width:88%;">
                <p> <strong>Статус заявки:</strong>&nbsp;{{ rec.status }}&nbsp;</p></div>
                {% endif %}
 <br>


  <div style="border: 1px solid black; background-color: white; padding: 3px; width:88%;">
      <p><strong>Торговая сеть:</strong>&nbsp;{{ rec.retail }} </p>
      <p><strong>Номер и дата заявки:</strong>&nbsp;{{ rec.rec_num }} ({{ rec.rec_date }} {{ rec.rec_time }})</p>
      <p><strong>Торговая точка:</strong>&nbsp;{{ rec.store }} ({{ rec.customer }}) </p>
      <p><strong>Диспетчер:</strong>&nbsp;{{ rec.staff }}</p>
      <p><strong>Содержание заявки:</strong>&nbsp;{{ rec.description }}</p></div><br>

{% if rec.sign_day and rec.sign_time %}
  <div style="border: 1px solid black; background-color: white; padding: 3px; width:88%;">
  <p><strong>Категория неисправноcти:</strong>&nbsp;{{ rec.trouble }}  &nbsp; &nbsp; &nbsp;
    <strong>Сервисный инженер:</strong>&nbsp;{{ rec.tech }}</p>
  <p><strong>Время передачи заявки инженеру:</strong>&nbsp;{{ rec.sign_day }}&nbsp; &nbsp;{{ rec.sign_time }}</p></div><br>
{% endif %}

{% if rec.visit_day_begin and rec.visit_time_begin and rec.visit_day_end and rec.visit_time_end and rec.sign_day and rec.sign_time %}
<div style="border: 1px solid black; background-color: white; padding: 3px; width:88%;">
    <p><strong>Дата и время начала работ:</strong>&nbsp;{{ rec.visit_day_begin }}&nbsp{{ rec.visit_time_begin }}</p>
    <p><strong>Дата и время окончания работ:</strong>&nbsp;{{ rec.visit_day_end }}&nbsp{{ rec.visit_time_end }}</p>
    <p><strong>Результат визита (комментарий инженера):</strong>&nbsp;{{ rec.result }}</p></div><br>
{% endif %}

{% if rec.visit_day_begin and rec.visit_time_begin and rec.visit_day_end and rec.visit_time_end and rec.sign_day and rec.sign_time and rec.jpg %}
<div style="border: 1px solid black; background-color: white; padding: 3px; width:88%;">
      <p><strong>Номер заказа-наряда:</strong>&nbsp;{{ rec.form }}</p>
      <p>&nbsp;<img src="{{rec.jpg.url}}" alt="connect" style="max-height:1000px"></p></div><br>
{% endif %}


{% if not rec.sign_day or not rec.sign_time %}
{% if perms.app.can_create_update %}
<form action="{{ rec.get_upd1_url }}">
   <button>Довести информацию до инженера</button>
  </form><br>
{% endif %}
{% endif %}

{% if rec.sign_day and rec.sign_time and not rec.visit_day_begin and not rec.visit_time_begin and not rec.visit_day_end and not rec.visit_time_end %}
{% if perms.app.can_create_update %}
<form action="{{ rec.get_upd2_url }}">
   <button>Отчет инженера</button>
  </form><br>
{% endif %}
{% endif %}

{% if rec.sign_day and rec.sign_time and rec.visit_day_begin and rec.visit_time_begin and rec.visit_day_end and rec.visit_time_end and not rec.jpg %}
{% if perms.app.can_create_update %}
<form action="{{ rec.get_upd3_url }}">
   <button>Загрузить скан-копию заказа-наряда</button>
  </form><br>
{% endif %}
{% endif %}





{% endblock %}