{% extends "base_generic.html" %}

{% block content %}

  {% if recs %}

    {% for d in ddd %}

        <h4><strong>{{ d }}  </strong></h4>
<table border="2" width="90%">
       <tr>
           <td width="12%" align="center" > <strong> &nbsp;Номер заявки&nbsp; </strong> </td>
           <td width="22%" align="center" > <strong> &nbsp;Статус заявки&nbsp; </strong> </td>
           <td width="12%" align="center" > <strong> &nbsp;Торговая сеть&nbsp; </strong> </td>
           <td width="37%" align="center" > <strong> &nbsp;Торговая точка&nbsp; </strong> </td>
           <td width="17%" align="center" > <strong> &nbsp;Сервисный инженер&nbsp; </strong> </td>
       </tr>
      {% for rec in recs %}

            {% if rec.rec_date == d %}

          <tr>
              <td align="center" > <a href="{{ rec.get_absolute_url }}">{{ rec.rec_num }} </a> </td>

                {% if rec.status == gray %}
                <td bgcolor=#A9A9A9 align="center" > &nbsp;{{ rec.status }}&nbsp;</td>
                {% elif rec.status == blue %}
                <td bgcolor=#00BFFF align="center" > &nbsp;{{ rec.status }}&nbsp;</td>
                 {% elif rec.status == yellow %}
                <td bgcolor=#FFD700 align="center" > &nbsp;{{ rec.status }}&nbsp;</td>
                {% elif rec.status == green %}
                <td bgcolor=#32CD32 align="center" > &nbsp;{{ rec.status }}&nbsp;</td>
                {% endif %}
              <td> &nbsp;{{ rec.retail}}&nbsp; </td>
              <td> &nbsp;{{ rec.store}}&nbsp; </td>
              {% if rec.tech %}
              <td align="center" > &nbsp;{{ rec.tech }}&nbsp;</td>
              {% else %}
              <td align="center" > &nbsp;Еще не выбран&nbsp;</td>
              {% endif %}
          </tr>
            {% endif %}
      {% endfor %}
    </table>

    {% endfor %}

  {% else %}
    <br><p>Заявок пока нетути</p>
  {% endif %}
<br><br>
{% endblock %}